@import url('https://fonts.googleapis.com/css2?family=Codystar&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: #000000;
  background: -webkit-linear-gradient(to left, #434343, #000000);
  background: linear-gradient(to left, #222222, #000000);
  overflow-x: hidden;
}

.menu {
  color: whitesmoke;
  background: #000000;
  background: -webkit-linear-gradient(to left, #434343, #000000);
  background: linear-gradient(to left, #222222, #000000);
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  margin: 5%;
}

.marquee {
  height: 20vh;
  overflow: hidden;
  position: relative;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.marquee div {
  display: block;
  position: absolute;
  overflow: hidden;
  animation: marquee 10s linear infinite;
}

.marquee span {
  /* float: left; */
  width: 50%;
  font-size: 16vh;
  font-family: 'Codystar', cursive;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.card {
width: 33%;
  border: 0px dashed yellow;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 2px solid whitesmoke;
  border-radius: 40px;
}

.c1{
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.c2{
  border-radius: 245px 12px 225px 15px/15px 225px 15px 255px;
}

.c3{
  border-radius: 215px 10px 205px 15px/15px 215px 15px 225px;
}

.c2:hover{
  background-color: rgba(255, 0, 255, 0.329);
  cursor: pointer;
}


.nome {
  font-size: 6vw;
  font-family: condor-compressed, sans-serif;
  font-weight: lighter;
  padding: 2rem;
  display: block;
  text-align: center;
  width: 100%;
}

.img {
  margin: 2rem;
  width: 100%;
}

.caracteristicas {
  font-family: condor-compressed, sans-serif;
  font-size: 4vw;
  font-weight: lighter;
  height: 30%;
}

.resume {
  padding: 2rem;
}
