@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Rokkitt:wght@100;200;300;600;800;900&family=Sansita+Swashed:wght@300&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.jogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: whitesmoke;
    background: #000000;
    background: -webkit-linear-gradient(to left, #434343, #000000);
    background: linear-gradient(to left, #222222, #000000);
    font-family: condor-compressed, sans-serif;
    font-size: 3vw;
    overflow-x: hidden; 
    border: 5px solid whitesmoke;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}


.wrapper-jogo {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  border: 0px dashed gold;
  width: inherit;
}

.container-estados {
  display: flex;
  height: inherit;
  width: 30%;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  border-right: 1px solid white;
  position: fixed; 
  /* z-index: 1; */
  top: 0; 
  left: 0;
  overflow-x: hidden; 
}

.estados {
  height: 33%;
  padding: 2vw;
  border: 0px dotted pink;
  font-size: 5vw;
}

.container-texto {
    flex-basis: 60%;
    height: 100vh;
    padding: 5rem;
    margin: 0;
    align-self: flex-end;
    border: 0px solid yellow;
}

.text {
  height: 65%;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 30px;
    margin-top: 3rem;   
}

.btn {
    background-color: rgba(65, 65, 65, 0);
    padding: 1rem;
    border-top: 1px solid whitesmoke;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    color: rgb(255, 255, 255);
    outline: none;
    font-family: 'Rokkitt', serif;
    font-size: 1.5vw;
    margin-top: 1rem;
    text-align: left;
    /* align-self: flex-end; */
}

.btn:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 0, 255, 0.329);
    /* background-color: rgba(189, 189, 189, 0.295); */
    cursor: pointer;
}

.tela-cheia { 
    display: block;
    width: 100vw;
    height: 100vh;
}

/*quando algo não tiver conteúdo não mostra*/
.classe-exemplo:empty {
  display: none;
}

.hide {
  display: none;
}


